:root {
    --red: red;
    --yellow: yellow;
    --green: green;
    --purple: purple;
    --gray: gray;

    --background: rgb(43, 54, 105);

    --unit: 10px;
}

body {
    background: var(--background);
    margin: 0;
    padding: 50px 0 0 50px;
}

.container {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: var(--unit);
}

.row {
    height: var(--unit);
    display: flex;
    gap: var(--unit);
}

.cell {
    width: var(--unit);
    height: var(--unit);
}